#header,#content,.title1{ width:100%; min-width:1000px; height:126px;}
#content{ background:#E3E3E3; clear:both;}
/*
.hl{ background:url(../images/bg1.jpg) no-repeat; width:100%; height:126px;}
*/
.hl{ background:url(../images/bg2.jpg) repeat; width:100%; height:126px;}
.hr{ height:126px;}
.hr ul{ background:url(../images/line1.png) 121px 30px no-repeat;}
.hr li{ float:left; display:inline; height:71px; padding:35px 0 20px; width:121px; text-align:center; cursor:pointer}
.hr li.hover{ background:url(../images/hicon4.gif) center bottom no-repeat;}
.logo{background:url(../images/bg1.jpg) no-repeat;width:800px;}
.logo img{ margin-top:20px; margin-left:30px;}
.title1{ height:37px; background:url(../images/bg3.jpg) repeat-x; line-height:37px; color:#D9EBF2; clear:both; }
.title1 a{ text-decoration:underline; color:#D9EBF2}
.title2{ height:37px;line-height:37px; color:#3B6070; margin-top:90px }
.title2 a{ text-decoration:underline; color:#3B6070}
.row{cursor:pointer}
.row:hover{background:#eee}